.contact{
    background-color: black;
    padding: 1em;
}

.rep{
    background-color: var(--orange);
    padding: 3em;
}
.rep2{
    background-color: black;padding: .5em;
}

.container.contact__container {
    width: 98%;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2%;
}
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__option {
    background-size: 100% 100%;
    background-image:linear-gradient(to right,orange ,var(--orange));
    background-repeat: no-repeat;
    transition: .4s;
    padding: .8rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    color: rgb(1, 14, 4);
}
.contact__option:hover {
   

    border-color:var(--orange);
    background-size: 0% 100%;
    transition: background-size .4s ease-in-out;
    color: aliceblue;

}
.contact__option-icon {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.contact__option:hover a {
    color: orange; 
  }
/*============= FORM ======================*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea {
    width: 100%;
    padding: .8em;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--orange);
    resize: none;
    color:white;
}
.button{
    background-color: var(--orange)  !important;
}


.button:hover{
    background:none !important;
    color: var(--orange) !important;

}
/*============= MEDIA QUERIES (MEDIUM DEVICES) ==============*/

@media screen and ( max-width: 773px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 78%;
    }
   }
   
   
   @media screen and ( max-width: 600px) {
    .rep{
        padding: 1em;
    }
    
    .container.contact__container {
        width: 90%;
       
    }
    
   }

   @media screen and (max-width: 435px) {
    .container.contact__container {
        width: 92%;
       
    }

   }